<!doctype html>
<html lang="en">
<head>
    <link href="Login.css" type="text/css" rel="stylesheet">
    <script src="Login.css" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to DBS</title>
</head>
<body>
    <center>
        <h1>Welcome to DBS APP</h1>
        <table>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="email">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <button>Login</button>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>