<!doctype html>
<html lang="en">
<head>
    <link href="Login.css" type="text/css" rel="stylesheet">
    <script src="Login.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to DBS</title>
</head>
<body>
<center>
<!--    <form action="../home/Home.html">-->
        <h1>Welcome to DBS APP</h1>
        <table>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input id="login_email" required type="email">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    <input id="login_password" required type="password">
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="myFunction()">LOGIN</button>
<!--                    <input id="login" type="button" value="Login" onclick="login()">-->
                </td>
            </tr>
        </table>
<!--    </form>-->
</center>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Login</title>-->
<!--    <link rel="stylesheet" href="login-page.css">-->
<!--    <script defer src="login-page.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--<main id="main-holder">-->
<!--    <h1 id="login-header">Login</h1>-->

<!--    <div id="login-error-msg-holder">-->
<!--        <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>-->
<!--    </div>-->

<!--    <form id="login-form">-->
<!--        <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">-->
<!--        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">-->
<!--        <input type="submit" value="Login" id="login-form-submit">-->
<!--    </form>-->

<!--</main>-->
<!--</body>-->

<!--</html>-->