.nav_bar {
    padding-left: 80px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.nav_bar_item {
    margin-top: auto;
    margin-bottom: auto;
}

.main_div_1{

}

.main_div_table_1{
}

.main_div_2{

}

.main_div_table_1{

}